body{
    margin: 0;
    padding: 0;
    background-color: #1E1E1E;
    color: #ffffff;
}
main{
    margin-top: 6rem;
}
nav{
    display: flex;
    align-items: center;
    height: 6rem;
    margin-bottom: 1rem;
}
.toggler{
    background-color: #ffc107;
}
.contact-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.logo{
    display: flex;
    height: 100%;
    align-items: center;
}
#categories {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.carousel-caption h5 {
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 3px #000;
}

.carousel-caption p {
    font-size: 1rem;
    text-shadow: 1px 1px 2px #000;
}

