@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #1E1E1E;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
main{
    margin-top: 6rem;
}
nav{
    display: flex;
    align-items: center;
    height: 6rem;
    margin-bottom: 1rem;
}
.toggler{
    background-color: #ffc107;
}
.contact-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.logo{
    display: flex;
    height: 100%;
    align-items: center;
}


